body {
  background-color: rgba(144, 200, 230, 0.274);
}

.frame {
  width:100%;
  height:100vh;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.profile-section {
  display: flex;
  justify-content: center;
  width:100%; 
  height:100vh;
  align-items: center;
  scroll-snap-align: center;
}

   /* header */

.navigator {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  font-family: 'Stylish', sans-serif;
  position: fixed;
}

.navigator>h3 {
  font-weight: 800;
  font-size: 45px;
  margin: 0;
 
}
.navigator>h3>a {
  color: black;
  text-decoration: none;
}

.navigator>h3>a:hover {
  color: white;
  transition: 0.3s;
}

.header-nav {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-style: italic;
}

.header-menu {
  margin: 30px 50px 0;
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: black;
}

.header-menu:hover {
  color: white;
  transition: 0.3s;
}

/* home */

.main-picture {
  width: 40%;
  border-radius: 50px;
  margin-top: 120px;
}

/* about */

#picture {
  width: 450px;
  height: 450px;
  margin-left: 0px;
  border-radius: 50px;
  margin-top: 110px;
}

.introduction {
  width: 450px;
  height: 450px;
  margin-left: 0px;
  margin-top: 110px;
}

.introduction>h2 {
margin: 0px;
font-family: 'Cute Font', cursive;
font-size: 60px;
text-align: center;
}

.introduction>p {
  font-family: 'Cute Font', cursive;
  font-weight: 300;
  font-size: 32px;
  margin-bottom: 10px;
  text-align: center;
  }

/* favourite */

.favourite {
  display: flex;
  justify-content: center;
  margin-top: 160px;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 50px 40px;
  
}
.list-picture {
  width: 250px;
  height: 250px;
}

.list-text {
  margin-top: 20px;
  text-align: center;
  font-family: 'Stylish', sans-serif;
}

.list-title {
  font-size: 35px;
  font-weight: 300;
}

.list-content {
  margin-top: 25px;
  font-size: 17px;
}

/* contact */

.contact {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin-top: 180px;
}

.contact-picture {
  width: 35%;
  border-radius: 250px;
}

.contact {
  display: flex;
  justify-content: center;
}

.contact-icon {
  display: flex;
  flex-direction: row;
}

.icon-img {
  margin: 50px 30px;
  width: 50px;
  height: 50px;
}
